form(action='#').toggle
  span.option.active
    a(href='javascript:;' onclick='toggleConfirmation(this)')= actionName
  span.option
    span.errorMessage
    | are you sure? 
    a(href='javascript:;' onclick=clickAction) Yes
    |  / 
    a(href="javascript:;" onclick='toggleConfirmation(this)') No
