div.comment
  if !comment.is_deleted
    div.voting-arrows 
        button(onclick="upvoteComment('"+comment._id +"',this)") ^
        button(onclick="downvoteComment('"+comment._id +"',this)") v
  div.comment-body
    p= (comment.is_deleted ? 'Deleted' : comment.text)
    p= (comment.is_deleted ? 'Deleted' : comment.submitter.username)
    p= comment._id
    if locals.currentUser
      if !comment.is_deleted
        if String(locals.currentUser._id) === String(comment.submitter._id)
          -let onClickPath = "deleteComment('"+  comment._id + "',this)"
          include delete_confirmation.pug
      form(method='POST')
        div.form-group
          textarea#text.form-control(type='text' name='text' required='true')
          input(type='hidden' name='parentCommentID' value=comment._id)
        button.btn.btn-primary(type='submit') Submit 