include getSubComments_mixin.pug
if comments
  div
    each comment in comments
      if comment.is_sub_comment === false
        div.comment
          include comment.pug
          if comment.sub_comments
            div
              +getSubComments(comment.sub_comments)



