mixin getSubComments(subcomments)
  if subcomments
    if subcomments.length !== 0
      each subcomment in subcomments
        div.comment
          //- The sub comments of sub comments are not populated so they need to be found 
          //- from the already populated comments object
          - let comment = comments.find(foundComment => String(foundComment._id) === String(subcomment._id) )
          include comment.pug
          div
            +getSubComments(subcomment.sub_comments) 