if posts
  div
    each post in posts 
      if !post.is_deleted
        div
          - let detailURL = '/r/' + subreddit.name + '/' + post._id
          a(href=(post.link ==='' ? detailURL : post.link))
            = post.title  
          br
          - let commentString = (post.number_of_comments === 1 ? 'comment' : 'comments')
          a(href=detailURL) #{post.number_of_comments} #{commentString}
          br
          if locals.currentUser
            if String(locals.currentUser._id) === String(post.submitter)
              -let onClickPath = "deletePost('"+post._id+"', this)"
              include delete_confirmation.pug
          br