extends layout

block content
  h1= title
  - let is_front_page = true
  include shared/post_list.pug
  script
    include ../public/javascripts/postVote.js
    include ../public/javascripts/fetchPost.js
    include ../public/javascripts/toggleActionConfirmation.js
    include ../public/javascripts/postDelete.js