extends layout

block content
  h1= title
  p Welcome to #{title}
  if locals.currentUser
    p YOU ARE LOGGED IN
    a(href="/subreddits/create") create sub

  - let is_front_page = true
  include shared/post_list.pug
  script
    include ../public/javascripts/postVote.js
    include ../public/javascripts/fetchPost.js