doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/subForum.css')
  body
    div.header.container-fluid
      div.row
        div.col-auto.home-button
          a(href='/') Forum<br/>Clone
        div.col
          div.row.subForum-shortcuts
            div.col
              ul
                li
                  a(href='/') HOME
                li
                  a(href="/subforums") SUBFORUMS
                li
                  a(href="/subforums/random") RANDOM
                li
                  span |
                li
                  a SubForum1
                li
                  a SubForum2
                li
                  a Sub3
                li
                  a Sub4
                li
                  a Sub5                      
          div.row
            div.col.page-title
              h1=(subForum?subForum.name:'All')
            div.col-auto.subForum-search
              form(method='POST' action='/subforums/search')
                div.searchbar
                  label(for='search') Find a SubForum:
                  input#search(type='text' name='search' required='true')
                button(type='submit') Submit  
          div.row
            div.col-auto
              ul  
                li
                  a hot
                li
                  a new
                li
                  a top
            div.col
            div.col-auto
              ul
                if locals.currentUser
                  li
                    a(href='/u/'+locals.currentUser.username) #{locals.currentUser.username}
                  li
                    a X
                  li
                    a(href="/logout") logout
                else  
                  li 
                      a(href="/login") Login 
                      span or 
                      a(href="/signup") Sign up
    div.main.container-fluid
      div.row
        div.content.col
          block content
        if sidebar
          div.sidebar.col-auto  
            p text