extends layout

block content
  h1= title
  if post.text !== ''
    p= post.text
  if locals.currentUser
    form(method='POST')
      div.form-group
        textarea#text.form-control(type='text' name='text' required='true')
      button.btn.btn-primary(type='submit') Submit
  else
    p You must be logged in to post comments
  if comments
    each comment in comments
      p= comment.text