extends layout

block content
  h1 You Searched: #{title}
  if subForums
      if subForums.length > 0
        each subForum in subForums
          a(href='/r/'+subForum.name) #{subForum.name}
          p=subForum.description
      else
        h1 No SubForums found
  else if posts
     include shared/post_list.pug