extends layout

block content
  include shared/post_list.pug
  script
    include ../public/javascripts/postDelete.js
    include ../public/javascripts/postRemoval.js
    include ../public/javascripts/postVote.js
    include ../public/javascripts/toggleActionConfirmation.js
    include ../public/javascripts/fetchPost.js

