extends layout

block content
  - let is_moderator = false;
  if locals.currentUser
    - let mod = subForum.moderators.find(moderator => String(moderator.user) === String(locals.currentUser._id))
    if mod
      - is_moderator = true;
  br
  include shared/post_list.pug
  script
    include ../public/javascripts/postDelete.js
    include ../public/javascripts/postRemoval.js
    include ../public/javascripts/postVote.js
    include ../public/javascripts/toggleActionConfirmation.js
    include ../public/javascripts/fetchPost.js

