extends layout

block content
  h1= title
  h1= subreddit.name
  if posts
    each post in posts 
      div
        - var detailURL = '/r/' + subreddit.name + '/' + post._id
        a(href=(post.link ==='' ? detailURL : post.link))
          = post.title  
        br
        a(href=detailURL) #{post.number_of_comments} comments
        br