extends layout

block content
  h1= title
  h1= subreddit.name
  a(href= subreddit.name+'/submit/link') Submit a link
  br
  a(href= subreddit.name+'/submit/text') Submit a text post
  br
  br
  include shared/post_list.pug
  script
    include ../public/javascripts/deletePost.js
    include ../public/javascripts/toggleActionConfirmation.js
    include ../public/javascripts/fetchPost.js

