body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.upvote{
  background: orange;
}

.downvote{
  background: plum;
}
.home-button{
  padding-left: 4px;
  text-align: center;
}
.home-button a{
  font-size: 40px;
}

.page-title h1{
  font-size:14px;
}

.subForum-search form{
  display:flex;
}

.subForum-search input{
  height: 100%;
  margin-left: 12px;
}

.header ul{
  padding: 0;
}

.header li:first-child{
  padding-left:0;
}

.header li{
  display:inline;
  padding: 5px;
}


.post-list{
  padding-left:20px;
}

.post, .submission{
  display:flex;
  height:100px
}

.post-body{
  margin: 0 10px;
}

.post-title{
  display:block;
  font-size:32px;
}

.post-actions{
  display:block;
}

.post-actions form{
  display: inline;
  padding-left: 6px;
}

.post-score{
  text-align: center;
  padding: 8px;
  font-weight: 600;
  font-size: 20px;
  width:55px
}

.comment-chain {
  padding-left: 20px;
  border: 1px solid black;
}

.comment{
  display:flex;
}

.comment-body{
  flex-grow: 1;
  margin: 12px;
}

.comment-details a, .comment-details span{
 padding-right: 8px;
}

.comment-text{
  margin-top: 8px;
}
.comment-text p{
  margin-bottom: 12px;
}

.comment-actions{
  display:flex;
}
.comment-actions a{
  padding-right: 8px;
}

.voting-arrows{
  display:flex;
  flex-direction: column;
}

.voting-arrows button{
  align-self: center;
  width:30px;
}

.comment .voting-arrows{ 
  margin-left: -18px;
}

.moderator{
  display:flex;
  margin: 10px 0 25px;
}

.new-mod-form, 
.moderator-new .permission-list,
.moderator-new .permission{
  display:flex;
}

.moderator-new .permission label{
  margin-bottom: 0;
}

.moderator-new .permission-list{
  align-items: center;
}

.moderator .permission {
  font-size: 18px;
  align-items: center;
}

.moderator .permission input{
  margin:8px;
  height: 15px;
  width: 15px;
}

.moderator p{
  justify-content: center;
  align-self: center;
  width: 150px;
  text-align: center;
  font-size: 18px;
  font-weight: 560;
}